.wxzy {
    background-color: rgba(58, 58, 58, 0.7);
    border-radius: 5px;
    padding: 8px;
    margin: 15px 0;
    .wxzy-title {
        margin-left: 15px;
        background: linear-gradient(to right,#0a273e,transparent);
        transform: skew(-15deg);
        
        span {
            display: inline-block;
            transform: skew(15deg);
            padding-left: 10px;
            color: #fff;
            font-weight: 500;
            position: relative;
        }
        span::before {
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            left:-10px;
            transform: skew(-15deg);
            background-color: #0086ff;
        }
        span::after {
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            left:-6px;
            transform: skew(-15deg);
            background-color: #064e75;
        }
    }
    .wxzy-content{
        padding-top: 5px;
    }
}