.digital-aircraft {
    background-image: url('../../common/images/OIP-C.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 8px;
    min-height: 100vh;
}